/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$custom-app-primary: mat.define-palette(mat.$yellow-palette, 700);

$custom-app-secondary: mat.define-palette(mat.$gray-palette, 900);

$custom-app-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-dark-theme((

  color: (

    primary: $custom-app-primary,

    accent: $custom-app-secondary,

    warn: $custom-app-warn,

  )

));

@include mat.core-theme($custom-theme);
@include mat.all-component-themes($custom-theme);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body { height: 100%; background-color: rgb(22, 22, 22);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

