<section class="main-container">
  <mat-card class="main-mat-card">
    <div class="welcome-container">
      Welcome to <strong>Zap Web</strong>, the best social media ever created.
      <br>Click <a href="https://github.com/pecodigos/zap-web">here</a> to access the GitHub repository for this project.
    </div>
  </mat-card>
  <mat-card class="main-mat-card">
    <div class="chat-container">
      Already logged in? Click <a href="/chat" class="chat-a-tag">here</a> to start chatting.
    </div>
  </mat-card>
  <mat-card class="main-mat-card">
    <div class="credits-container">
      Made by <a href="https://github.com/pecodigos">pecodigos</a>.
      <br>Feel free to use as you will.
    </div>
  </mat-card>
</section>
